<header>

	<nav class="teal darken-4" id="sidenav">
		<div class="nav-wrapper">
			<a href="#" class="brand-logo" onclick="index()">Sisbov</a> <a href="#"
			data-activates="mobile-demo" class="button-collapse"><i
			class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="#" onclick="animal()">Cadastrar Animal</a></li>
				<li><a href="#" onclick="listaBov()">Ver Animais</a></li>
				<li><a href="#" onclick="remedios()">Medicine</a></li>
				<li><a href="#" onclick="medicacao()">Medication</a></li>
				<li><a href="#" onclick="logout()">Sair</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="#" onclick="animal()">Cadastrar Animal</a></li>
				<li><a href="#" onclick="listaBov()">Ver Animais</a></li>
				<li><a href="#" onclick="remedios()">Medicine</a></li>
				<li><a href="#" onclick="medicacao()">Medication</a></li>
				<li><a href="#" onclick="logout()">Sair</a></li>
			</ul>
		</div>
	</nav>

</header>

<div class="row">
	<div class="container">
		<div class="card-panel">
			<form method="post" action="#" enctype="multipart/form-data" >
				<div class="row">
					<div class="input-field col s6">
						Nome: <input type="text" name="Name" id="nome">
					</div>
					<div class="input-field col s6">
						DataNasc: <input type="date" name="Birthday" id="nasc">
					</div>
					<div class="input-field col s6">
						Peso: <input type="text" name="Weight" id="peso">
					</div>





					<div class="input-field col s6">
						Tipo:
						<select name="tipo" id="tipo">
							<script>
							for(var key in localConsts.animal.tipo){
								$('#tipo').append('<option value="'+key+'">'+localConsts.animal.tipo[key]+'</option>');
							}
							</script>
						</select>
					</div>






					<div class="input-field col s6">
						Raça:
						<select name="Breed" id="raca">
							<script>
							for(var key in localConsts.animal.raca){
								$('#raca').append('<option value="'+key+'">'+localConsts.animal.raca[key]+'</option>');
							}
							</script>
						</select>
					</div>
					<div class="input-field col s6">
						Mãe:
						<select name="Mother" id="mae">
							<option value="0">Sem mãe</option>
							<script>
							var bois = JSON.parse(localStorage.getItem('bois')).list;
							for(var key in bois){
								if(bois[key].tipo === 'vaca')
								$('#mae').append('<option value="'+key+'">'+bois[key].nome+'</option>');
							}
							</script>
						</select>
					</div>
					<div class="input-field col s6">
						Pai:
						<select name="Father" id="pai">
							<option value="0">Sem pai</option>
							<script>
							var bois = JSON.parse(localStorage.getItem('bois')).list;
							for(var key in bois){
								if(bois[key].tipo === 'touro')
								$('#pai').append('<option value="'+key+'">'+bois[key].nome+'</option>');
							}
							</script>
						</select>
					</div>

				</div>
				<div class="right-align">
					<button class="btn waves-effect waves-light teal darken-3"
					type="submit" name="action" onclick="salvaBoi(); return false;">
					Salvar <i class="material-icons right">save</i>
				</button>
			</div>
		</form>
	</div>
</div>
</div>

<script>

	function salvaBoi(){
		var animal = {};
		animal.nome = $("#nome").val();
		animal.nasc = $("#nasc").val();
		animal.peso = $("#peso").val();
		animal.raca = $("#raca").val();
		animal.tipo = localConsts.animal.tipo[$("#tipo").val()];
		animal.mae = $("#mae").val();
		animal.pai = $("#pai").val();
		animal.medicacoes = {};
		var bois = JSON.parse(localStorage.getItem('bois'));
		bois.list.push(animal);
		localStorage.setItem('bois', JSON.stringify(bois));
		alert("Animal cadastrado com sucesso");
		index();
	}


// var animal = {};
//
//
// animal.nome = $("#nome").val();
// animal.nasc = $("#nasc").val();
// animal.peso = $("#peso").val();
// animal.raca = $("#raca").val();
// animal.mae = $("#mae").val();
// animal.pai = $("#pai").val();
//
// var bois = JSON.parse(localStorage.getItem('bois'));
//
// bois.push(animal);
// localStorage.setItem('bois', bois);

load = function(){
		$(".button-collapse").sideNav();
	    $('select').material_select();
}

</script>
