<header>

	<nav class="teal darken-4" id="sidenav">
		<div class="nav-wrapper">
			<a href="#" class="brand-logo" onclick="index()">Sisbov</a> <a href="#"
			data-activates="mobile-demo" class="button-collapse"><i
			class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="#" onclick="animal()">Cadastrar Animal</a></li>
				<li><a href="#" onclick="listaBov()">Ver Animais</a></li>
				<li><a href="#" onclick="remedios()">Medicine</a></li>
				<li><a href="#" onclick="medicacao()">Medication</a></li>
				<li><a href="#" onclick="logout()">Sair</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="#" onclick="animal()">Cadastrar Animal</a></li>
				<li><a href="#" onclick="listaBov()">Ver Animais</a></li>
				<li><a href="#" onclick="remedios()">Medicine</a></li>
				<li><a href="#" onclick="medicacao()">Medication</a></li>
				<li><a href="#" onclick="logout()">Sair</a></li>
			</ul>
		</div>
	</nav>

</header>

<div class="row">
	<div class="container">
		<div class="card-panel">
			<form method="post">
				<div class="row">
					<div class="input-field col s3">
						Identificador: <input type="text" name="id" value="José" />
					</div>
					<div class="input-field col s3">
						Nascimento: <input type="date" name="date" value="23/07/2015" />
					</div>

					<div class="input-field col s3">
						Peso: <input type="text" name="weight" value="800" />
					</div>
					<div class="input-field col s3">
						Tipo: <input type="text" name="type" value="Touro" />
					</div>
					<div class="input-field col s3">
						Raça: <input type="text" name="breed" value="Angus" />
					</div>
					<div class="input-field col s3">
						Finalidade: <input type="text" name="purpose" value="genética" />
					</div>
					<div class="input-field col s6">
						<div class="file-field input-field">
							<div class="btn teal darken-3">
								<span>Fotos</span>
								<input type="file" multiple>
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text" placeholder="Uma ou mais fotos.">
							</div>
						</div>
					</div>
				</div>
				<div class="right-align">
					<button class="btn waves-effect waves-light teal darken-3"
					type="submit" name="action">
					Salvar <i class="material-icons right">save</i>
				</button>
			</div>
		</form>
	</div>
</div>
