<header>

	<nav class="teal darken-4" id="sidenav">
		<div class="nav-wrapper">
			<a href="#" class="brand-logo" onclick="index()">Sisbov</a> <a href="#"
			data-activates="mobile-demo" class="button-collapse"><i
			class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="#" onclick="animal()">Cadastrar Animal</a></li>
				<li><a href="#" onclick="listaBov()">Ver Animais</a></li>
				<li><a href="#" onclick="remedios()">Medicine</a></li>
				<li><a href="#" onclick="medicacao()">Medication</a></li>
				<li><a href="#" onclick="logout()">Sair</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="#" onclick="animal()">Cadastrar Animal</a></li>
				<li><a href="#" onclick="listaBov()">Ver Animais</a></li>
				<li><a href="#" onclick="remedios()">Medicine</a></li>
				<li><a href="#" onclick="medicacao()">Medication</a></li>
				<li><a href="#" onclick="logout()">Sair</a></li>
			</ul>
		</div>
	</nav>

</header>
<div class="row container" id="containerBov">
	<script>
			$(".button-collapse").sideNav();



	var bois = JSON.parse(localStorage.getItem('bois')).list;
	for(var key in bois){




		var html = '<div class="col s12 m6 l3">			<div class="card sticky-action" style="overflow: visible;">				<div class="card-image waves-effect waves-block waves-light">				</div>				<div class="card-content">					<span class="card-title activator grey-text text-darken-4">'+bois[key].nome+'<i class="material-icons right">more_vert</i></span>					<p><a href="profile/'+bois[key].id+'">Mostrar '+bois[key].nome+'</a></p>				</div>				<div class="card-action">					<href="/delAnimal/'+bois[key].id+'"><i class="material-icons left">delete</i></a></a>				</div>				<div class="card-reveal" style="display: none; transform: translateY(0px);">					<span class="card-title grey-text text-darken-4">'+bois[key].nome+'<i class="material-icons right">close</i></span>					<span>Nascimento: '+bois[key].nasc+' </span><br>					<span>Peso: '+bois[key].peso[bois[key].length]+'kg</span><br>					<span>Tipo:'+bois[key].tipo+'</span><br><span>Raça: ';
		html+=  bois[key].raca + '</span><br>				</div>			</div>		</div>';
		$("containerBov").append(html);

	}
	</script>
</div>
