<center>
<div class="container">
	<div class="row">
		<h5 id="title">Entrar</h5>
		<form method="post" class="form-signin">

			<div class="input-field">
				<input type="text" id="username" name="username" /><label for="username">Username</label>
			</div>
			<div class="input-field">
				<input type="password" id="password" name="password" /><label for="password">Password</label>
			</div>
			<center><p>
				Novo por aqui? <a href="#" onclick="register()">Registre-se</a> hoje!
			</p></center>
			<div class="col s12"><br>
				<a class="btn waves-effect waves-light teal darken-3" href="#" onclick="log()" >Enviar <i class="material-icons right">send</i></a>

			</div>
		</form><br><br>
		<center><div id="err"></div></center>
	</div>

</div>
</center>
<script>

load = function(){

}

log = function(user){
	if(typeof user === 'undefined'){
		user = {};
		user.username = $("#username").val();
		user.password = $("#password").val();
	}
	request("http://10.39.1.84:12346/auth/login", "POST", user, function(data){
		data = JSON.parse(data);

		if(data.success){
			localStorage.setItem('token', data.token);
			var token = data.token;
			//request user info
			request("http://10.39.1.84:12346/auth/info", "POST", {'token': token}, function(data){

				data = JSON.parse(data);
				data.password = undefined;
				localStorage.setItem('info', JSON.stringify(data));

				request("http://10.39.1.84:12346/animal/list", "POST", {'token': token}, function(data){
					data = JSON.parse(data);
					localStorage.setItem('bois', JSON.stringify(data));

					request("http://10.39.1.84:12346/remedio/list", "POST", {'token': token}, function(data){
						data = JSON.parse(data);
						localStorage.setItem('remedios', JSON.stringify(data));
				    localStorage.setItem('toPush', JSON.stringify({}));
						index();

					});

				});

			});
		}else{
			$("#err").html(data.error);

		}
	});
}

</script>
