<header>

	<nav class="teal darken-4" id="sidenav">
		<div class="nav-wrapper">
			<a href="#" class="brand-logo" onclick="index()">Sisbov</a> <a href="#"
			data-activates="mobile-demo" class="button-collapse"><i
			class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="#" onclick="animal()">Cadastrar Animal</a></li>
				<li><a href="#" onclick="listaBov()">Ver Animais</a></li>
				<li><a href="#" onclick="remedios()">Medicine</a></li>
				<li><a href="#" onclick="medicacao()">Medication</a></li>
				<li><a href="#" onclick="logout()">Sair</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="#" onclick="animal()">Cadastrar Animal</a></li>
				<li><a href="#" onclick="listaBov()">Ver Animais</a></li>
				<li><a href="#" onclick="remedios()">Medicine</a></li>
				<li><a href="#" onclick="medicacao()">Medication</a></li>
				<li><a href="#" onclick="logout()">Sair</a></li>
			</ul>
		</div>
	</nav>

</header>

<!-- Page Layout here -->
<div class="row">

	<div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->

		<div class="row">
			<div class="card-panel">
				<div class="center-align">
					<img src="http://ourofinosaudeanimal.com/media/uploads/produtos/2018/Ourovac_Aftosa_50ml_OF45.png" alt="Avatar" style="width:200px">
				</div>
				<div class="center-align">
					<span>Ourovac® Aftosa</span>
				</div>
			</div>

		</div>


	</div>

	<div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->

		<div class="card horizontal">
			<div class="card-image">
				<div class="row">

					<div class="col s6">
						<img src="http://www.agromafra.com.br/images/fotos/angus%20vendas/grandes/21.jpg" style="width:200px">
					</div>
					<div class="col s6">
						<img src="http://ourofinosaudeanimal.com/media/uploads/produtos/2018/Ourovac_Aftosa_50ml_OF45.png" style="width:200px">
					</div>

				</div>
			</div>
			<div class="card-stacked">
				<div class="card-content">
					<p>New medication of João with Ourovac® Aftosa!</p>
				</div>
				<div class="card-action">
					<a href="animal - João.html">Show João</a>
					<a href="medicine - Ourovac® Aftosa.html">Show Ourovac® Aftosa</a>
				</div>
			</div>
		</div>

		<div class="card horizontal">
			<div class="card-image">
				<div class="row">

					<div class="col s6">
						<img src="http://iepec.com/wp-content/uploads/2015/03/Touro-Angus-a-Campo-679x570.jpg" style="width:200px">
					</div>
					<div class="col s6">
						<img src="http://ourofinosaudeanimal.com/media/uploads/produtos/2018/Ourovac_Aftosa_50ml_OF45.png" style="width:200px">
					</div>

				</div>
			</div>
			<div class="card-stacked">
				<div class="card-content">
					<p>New medication of Maria with Ourovac® Aftosa!</p>
				</div>
				<div class="card-action">
					<a href="animal - Maria.html">Show Maria</a>
					<a href="medicine - Ourovac® Aftosa.html">Show Ourovac® Aftosa</a>
				</div>
			</div>
		</div>

		<div class="card horizontal">
			<div class="card-image">
				<div class="row">

					<div class="col s6">
						<img src="http://ruralpecuaria.com.br/painel/img/noticias/533/noticias_1406497986.jpg" style="width:200px">
					</div>
					<div class="col s6">
						<img src="http://ourofinosaudeanimal.com/media/uploads/produtos/2018/Ourovac_Aftosa_50ml_OF45.png" style="width:200px">
					</div>

				</div>
			</div>
			<div class="card-stacked">
				<div class="card-content">
					<p>New medication of José with Ourovac® Aftosa!</p>
				</div>
				<div class="card-action">
					<a href="animal - José.html">Show José</a>
					<a href="medicine - Ourovac® Aftosa.html">Show Ourovac® Aftosa</a>
				</div>
			</div>
		</div>

		<div class="card horizontal">
			<div class="card-image">
				<img src="http://ourofinosaudeanimal.com/media/uploads/produtos/2018/Ourovac_Aftosa_50ml_OF45.png" style="width:200px">
			</div>
			<div class="card-stacked">
				<div class="card-content">
					<p>Ourovac® Aftosa added successfully!</p>
				</div>
				<div class="card-action">
					<a href="medicine - Ourovac® Aftosa.html">Show Ourovac® Aftosa</a>
				</div>
			</div>
		</div>

	</div>
</div>
