<header>

	<nav class="teal darken-4" id="sidenav">
		<div class="nav-wrapper">
			<a href="#" class="brand-logo" onclick="index()">Sisbov</a> <a href="#"
			data-activates="mobile-demo" class="button-collapse"><i
			class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="#" onclick="animal()">Cadastrar Animal</a></li>
				<li><a href="#" onclick="listaBov()">Ver Animais</a></li>
				<li><a href="#" onclick="remedios()">Medicine</a></li>
				<li><a href="#" onclick="medicacao()">Medication</a></li>
				<li><a href="#" onclick="logout()">Sair</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="#" onclick="animal()">Cadastrar Animal</a></li>
				<li><a href="#" onclick="listaBov()">Ver Animais</a></li>
				<li><a href="#" onclick="remedios()">Medicine</a></li>
				<li><a href="#" onclick="medicacao()">Medication</a></li>
				<li><a href="#" onclick="logout()">Sair</a></li>
			</ul>
		</div>
	</nav>

</header>

<!-- Page Layout here -->
<div class="row">

	<div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->

		<div class="row">
			<div>
				<div class="card-panel">
					<h4>Informações da fazenda</h4><br>
					<span>Fazendeiro: <span id="nome"></span></span><br>
					<span>Total Animais: <span id="animais"></span></span><br>
					<span>Total Remédios: <span id="remedios"></span></span><br>
					<span>Total Medicações: <span	 id="medicacoes"></span></span><br>
				</div>
			</div>

		</div>


	</div>

</div>

<script>
load = function(){
		$(".button-collapse").sideNav();
		var user = JSON.parse(localStorage.getItem('info'));
		$("#nome").html(user.username);
		var animais = JSON.parse(localStorage.getItem('bois')).list;
		var count = Object.keys(animais).length;
		$("#animais").html(count);
		var remedios = JSON.parse(localStorage.getItem('remedios')).list;
		count = Object.keys(remedios).length;
		$("#remedios").html(count);
		var sum = 0;
		for(var key in animais){
			sum += Object.keys(animais[key].medicacoes).length;
		}
		$("#medicacoes").html(sum);
}
</script>
