<div style="col s6 m12">
<canvas id="sexo"></canvas>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
	var ctx = document.getElementById('myChart').getContext('2d');
	var chart = new Chart(ctx, {
    	// The type of chart we want to create
    	type: 'pie',

    	// The data for our dataset
    	data: {
           labels: ["Fêmea", "Macho"],
           datasets: [{
               label: "Animais por sexo",
               backgroundColor:["rgb(255, 99, 132)","rgb(54, 162, 235)"],
               borderColor: ["rgb(255, 99, 132)","rgb(54, 162, 235)"],
               data: [4, 3],
           }]
       },

    	// Configuration options go here
    	options: {
    		responsive: true
    	}
    });
</script>