<center>
<div class="container">
	<div class="row">
		<h5 id="title">Registrar</h5>
		<form method="post" class="form-signin">

			<div class="input-field">
				<input type="text" id="username" name="username" /><label for="username">Username</label>
			</div>
			<div class="input-field">
				<input type="password" id="password" name="password" /><label for="password">Password</label>
			</div>
			<center><p>
				Já possui um cadastro? <a href="#" onclick="login()">Entre</a> agora!
			</p></center>
			<div class="col s12"><br>
				<a class="btn waves-effect waves-light teal darken-3" href="#" onclick="reg()" >Enviar <i class="material-icons right">send</i></a>

			</div>
		</form><br><br>
		<center><div id="err"></div></center>
	</div>

</div>
</center>
<script>
function reg(){
	var user = {};
	user.username = $("#username").val();
	user.password = $("#password").val();
	request("http://10.39.1.84:12346/auth/register", "POST", user, function(data){
		data = JSON.parse(data);
		console.log(data);
		if(data.success != 'false'){


			chPage('./login.html', function(){
				log(user);
			});
















		} else {
			$("#err").html(data.error);
		}
	});
}
</script>
