<canvas id="myChart"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
	var ctx = document.getElementById('myChart').getContext('2d');
	var label = [];
  var date = new Date().getMonth();
  for(var x = 11; x > 0; x--){
    label[x] = localConsts.graficos.meses[(date - 11 + x + 12) % 12];
  }
  var chart = new Chart(ctx, {
    	// The type of chart we want to create
    	type: 'line',

    	// The data for our dataset
    	data: {
           labels: label,
           datasets: [{
               label: "Peso médio dos animais",
               backgroundColor: 'rgb(255, 99, 132)',
               borderColor: 'rgb(255, 99, 132)',
               data: [767, 775, 789, 792, 806, 804, 801, 810, 820, 815, 810, 822],
           }]
       },

    	// Configuration options go here
    	options: {
        responsive: true
      }
    });
</script>