<header>

	<nav class="teal darken-4" id="sidenav">
		<div class="nav-wrapper">
			<a href="#" class="brand-logo" onclick="index()">Sisbov</a> <a href="#"
			data-activates="mobile-demo" class="button-collapse"><i
			class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="#" onclick="animal()">Cadastrar Animal</a></li>
				<li><a href="#" onclick="listaBov()">Ver Animais</a></li>
				<li><a href="#" onclick="remedios()">Medicine</a></li>
				<li><a href="#" onclick="medicacao()">Medication</a></li>
				<li><a href="#" onclick="logout()">Sair</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="#" onclick="animal()">Cadastrar Animal</a></li>
				<li><a href="#" onclick="listaBov()">Ver Animais</a></li>
				<li><a href="#" onclick="remedios()">Medicine</a></li>
				<li><a href="#" onclick="medicacao()">Medication</a></li>
				<li><a href="#" onclick="logout()">Sair</a></li>
			</ul>
		</div>
	</nav>

</header>

<div class="row">
	<div class="container">
		<div class="card-panel">
			<form method="post" action="/newMedicine" enctype="multipart/form-data" >
				<div class="row">
					<div class="input-field col s6">
						Nome: <input type="text" name="Name" />
					</div>
					<div class="input-field col s6">
						Validade: <input type="date" name="Expiration" />
					</div>
					<div class="input-field col s6">
						Descrição: <input type="text" name="Description" />
					</div>
					<div class="input-field col s6">
						Tipo: 
						<select name="Type">
							{{ #types }}
							<option value="{{ID}}">{{Type}}</option>
							{{ /types }}
						</select>
					</div>
					<div class="input-field col s12">
						<div class="file-field input-field">
							<div class="btn teal darken-3">
								<span>Fotos</span>
								<input name="Picture" type="file" >
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" name="Picture" type="text" placeholder="Uma foto.">
							</div>
						</div>
					</div>
				</div>
				<div class="right-align">
					<button class="btn waves-effect waves-light teal darken-3"
					type="submit" name="action">
					Salvar <i class="material-icons right">save</i>
				</button>
			</div>
		</form>
	</div>
</div>
<div class="row container">
	{{ #medicines }}
	<div class="col s12 m6 l3">
		<div class="card sticky-action" style="overflow: visible;">
			<div class="card-image waves-effect waves-block waves-light">
				<img class="activator" src="/picMedicine/{{ID}}" style="width:100px">
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">{{Name}}<i class="material-icons right">more_vert</i></span>
			</div>

			<div class="card-action">
				<a href="/delMedicine/{{ID}}"><i class="material-icons left">delete</i></a></a>
				<a href="editarRemedio.html"><i class="material-icons left">edit</i></a></a>
			</div>

			<div class="card-reveal" style="display: none; transform: translateY(0px);">
				<span class="card-title grey-text text-darken-4">{{Name}}<i class="material-icons right">close</i></span>
				<span>Descrição: {{Description}}</span><br>
				<span>Validade: {{ExpirationFmt}}</span><br>
				<span>Tipo: {{Type.Type}}</span><br>
			</div>
		</div>
	</div>
	{{ /medicines }}
</div>