<header>

	<nav class="teal darken-4" id="sidenav">
		<div class="nav-wrapper">
			<a href="#" class="brand-logo" onclick="index()">Sisbov</a> <a href="#"
			data-activates="mobile-demo" class="button-collapse"><i
			class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="#" onclick="animal()">Cadastrar Animal</a></li>
				<li><a href="#" onclick="listaBov()">Ver Animais</a></li>
				<li><a href="#" onclick="remedios()">Medicine</a></li>
				<li><a href="#" onclick="medicacao()">Medication</a></li>
				<li><a href="#" onclick="logout()">Sair</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="#" onclick="animal()">Cadastrar Animal</a></li>
				<li><a href="#" onclick="listaBov()">Ver Animais</a></li>
				<li><a href="#" onclick="remedios()">Medicine</a></li>
				<li><a href="#" onclick="medicacao()">Medication</a></li>
				<li><a href="#" onclick="logout()">Sair</a></li>
			</ul>
		</div>
	</nav>

</header>

<div class="row">
	<div class="container">
		<div class="card-panel">
			<form method="post">
				<div class="row">
					<div class="input-field col s6">
						Name: <input value="Ourovac® Aftosa" type="text" name="id" />
					</div>
					<div class="input-field col s6">
						Expiration: <input value="31/12/2019" type="date" name="date" />
					</div>
					<div class="input-field col s6">
						Description: <input value="Vacina contra a febre Aftosa." type="text" name="weight" />
					</div>
					<div class="input-field col s6">
						Tipo: <input value="Via subcutânea" type="text" name="type" />
					</div>
					<div class="input-field col s12">
						<div class="file-field input-field">
							<div class="btn teal darken-3">
								<span>Fotos</span>
								<input name="Picture" type="file" >
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" name="Picture" type="text" placeholder="Uma foto.">
							</div>
						</div>
					</div>
				</div>
				<div class="right-align">
					<button class="btn waves-effect waves-light teal darken-3"
					type="submit" name="action">
					Salvar <i class="material-icons right">save</i>
				</button>
			</div>
		</form>
	</div>
</div>
