<header>

	<nav class="teal darken-4" id="sidenav">
		<div class="nav-wrapper">
			<a href="#" class="brand-logo" onclick="index()">Sisbov</a> <a href="#"
			data-activates="mobile-demo" class="button-collapse"><i
			class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="#" onclick="animal()">Cadastrar Animal</a></li>
				<li><a href="#" onclick="listaBov()">Ver Animais</a></li>
				<li><a href="#" onclick="remedios()">Medicine</a></li>
				<li><a href="#" onclick="medicacao()">Medication</a></li>
				<li><a href="#" onclick="logout()">Sair</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="#" onclick="animal()">Cadastrar Animal</a></li>
				<li><a href="#" onclick="listaBov()">Ver Animais</a></li>
				<li><a href="#" onclick="remedios()">Medicine</a></li>
				<li><a href="#" onclick="medicacao()">Medication</a></li>
				<li><a href="#" onclick="logout()">Sair</a></li>
			</ul>
		</div>
	</nav>

</header>

<div class="container">
	<div class="card-panel">
		<form method="post">
			Peso: <input type="text" name="peso" /> 
			Descrição: <input type="text" name="descricao" /> 
			Data: <input type="date" name="data" />
			<div class="right-align">
				<button class="btn waves-effect waves-light teal darken-3"
				type="submit" name="action">
				Salvar <i class="material-icons right">save</i>
			</button>
		</div>
	</form>

	<table>
		<thead>
			<tr>
				<th>Peso</th>
				<th>Descrição</th>
				<th>Data</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>800kg</td>
				<td>Pesagem do Mês de Abril</td>
				<td>05/04/2018</td>
				<td><a class="waves-effect waves-light btn-small"> <i class="material-icons left">delete</i></a></td>
			</tr>
			<tr>
				<td>799kg</td>
				<td>Pesagem do Mês de Maio</td>
				<td>05/05/2018</td>
				<td><a class="waves-effect waves-light btn-small"> <i class="material-icons left">delete</i></a></td>
			</tr>
			<tr>
				<td>801kg</td>
				<td>Pesagem do Mês de Junho</td>
				<td>05/06/2018</td>
				<td><a class="waves-effect waves-light btn-small"> <i class="material-icons left">delete</i></a></td>
			</tr>
		</tbody>
	</table>
</div>